PORT=8081
DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=
DB_DATABASE=sync_audio
MYSQL_ROOT_PASSWORD=
PAYPAL_MODE=sandbox
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_RETURN_URL=https://YOUR_RAILWAY_URL/account/
BASE_URL=https://YOUR_RAILWAY_URL
MAILGUN_API_KEY=
