extends layout.pug

block content
	p Logged in as #{paypalUserInfo.email}
	p
		a.button.small("href"="/account/logout") Logout
	if (isAdminUser)
		p
			a(href="/admin") Admin page
	else
		p
			a(href="/account/submissions") My Submissions
	if (purchases && purchases.length > 0) || (comPurchases && comPurchases.length > 0)
		include purchases.pug
