extends layout.pug

block content
	div(style="margin-top:-40px; margin-bottom:-120px").artist-payment-wrapper
		h1(class="text-center artist-policy", style="line-height: normal;") Artist Payment Policy
		p(style="text-align:center; line-height: normal; color:gray; margin-bottom:40px").artist_last_updated Last updated on March 1, 2024
		p(class="text-gray-700" style="padding-top: 10px") Sync-Audio (the licensee) will make payments via our payment provider (Paypal) into a Paypal account to you (the licensor). You must open your own Paypal account beforehand.
		p(class="text-gray-700" style="padding-top: 10px") Payments will be made immediately on receipt of payments from Paypal in accordance with the terms and conditions in the Sync-Audio agreement you signed based on clause 11 (payments).
		p(class="text-gray-700" style="padding-top: 10px") Payments will be made into your Paypal account once you have authenticated it by email following you entering into the Paypal portal from the Sync-Audio website for submitting your personal details. As required by Paypal subject to Paypal’s jurisdiction on handling your banking details and payments in accordance with clause 11 (payments) of the agreement.
		p(class="text-gray-700" style="padding-top: 10px") Payments collected from our payment provider (Paypal) will be subject to small banking charges calculated at no more than 5% of the gross receipt received.
		p(class="text-gray-700" style="padding-top: 10px") Paypal will produce a statement to you detailing the source of the income and the track(s) they are based on as it applies to your catalogue in the Sync-Audio library.
		p(class="text-gray-700" style="padding-top: 10px;") Any discrepancies or disputes over payments received must be submitted in writing via email within 30 days of receiving your statement. Sync-Audio will in turn endeavour to remedy your concerns at the earliest time possible allowing a 90-day period in which to conclude and settle the matter.
		p(class="text-gray-700" style="padding-top: 10px") You are responsible for keeping your bank account details up to date with Paypal. You must inform Sync-Audio if you change the email address associated with your Paypal account. Sync-Audio will not be held responsible for any misplaced or mislodged payments where such information has not been properly forwarded to Sync-Audio.
		p(class="text-gray-700" style="padding-top: 10px") Sync-Audio (the service provider) will accept payments for download purchases and licence packages via (Paypal) accounting system.
