extends layout.pug

block content
	h1 Site Copyright Notice
	p &copy; #{year} Sync-Audio
	p All rights to the contents of this website are the property of the owner. All unauthorised copying and transmission and reproduction in any form or format are prohibited. Use of the services provided by the website is by permission only in accordance to terms and conditions of using the site.				