extends layout.pug

block vars
    - var applyNoContentStyles = true

block content 
    div(style="display: flex; justify-content: space-between; align-items: center; margin-left:100px; margin-top:90px")#playlists
        h1 Playlists
        a(href="/playlists" style="text-decoration: none; color: gray; margin-right:100px; font-size:16px; margin-top:-2px") View all playlists 
    include playlist.pug
    div(style="margin-bottom:120px").mb-50