extends layout.pug

block vars
	- var applyNoContentStyles = true

block content
	div(style="margin-left:350px;margin-right:350px; margin-top:60px; margin-bottom:60px").mx-50.mt-30.purchase-wrapper
		h1(class="text-center")#line_height_normal.purchase-title Purchase Policy
		p(style="text-align:center; line-height:10px; color:gray; margin-bottom:50px;line-height: normal; color:rgb(71, 85, 105);font-family:'Inter'").mb-30 Last updated on March 1, 2024
		p(style="color: rgb(148, 163, 184); padding-top:10px; font-size:15px;font-family:'Inter'") Sync-Audio operates a 30-day policy replacement on faulty purchases made from the Sync-Audio library whether as downloads or licence packages sold to you as a personal, business or commercial user.
		p(style="color: rgb(148, 163, 184); padding-top: 10px; font-size:15px; font-family:'Inter'") Sync-Audio will only consider any purchase as refundable where there is a bonafide technical fault with the product purchased from the Sync-Audio library and it is verified to be at fault by the Sync-Audio technical support team.
		p(style="color: rgb(148, 163, 184); padding-top: 10px; font-size:15px;font-family:'Inter'") Product prices may change at any time. Sync-Audio does not provide price protection or refunds in the event of a price reduction or promotional offering. All payment fees are final. No refunds will be given except in Sync-Audio's sole and absolute discretion.
		p(style="color: rgb(148, 163, 184); padding-top: 10px; font-size:15px;font-family:'Inter'") All users of Sync-Audio download products and licence packages are reminded that you are responsible to read the terms and conditions of the policies and agreements before activating the “I accept” button at the final stage of your transaction.
		p(style="color: rgb(148, 163, 184); padding-top: 10px; font-size:15px;font-family:'Inter'") Users must make any complaints of unsatisfactory services to the following email address: 
			a(href="mailto:supportteam@sync-audio.com")(style="color: rgb(14, 165, 233); font-size:14px;font-family:'Inter';text-decoration:underline; font-weight:bold") supportteam@sync-audio.com