extends layout.pug

block vars
	- var applyNoContentStyles = true

block content
	div(style="margin-left:350px;margin-right:350px; margin-top:60px; margin-bottom:60px").mx-50.mt-30.siteuse-wrapper
		h1(class="text-center")#line_height_normal.site_use_text Site Use Disclaimer
		p(style="text-align:center; line-height:normal; color:gray; margin-bottom:50px;color:rgb(71, 85, 105);font-family:'Inter") Last updated on March 1, 2024
		p(class="text-gray-700", style="padding-top: 10px;") Please note that by pressing the “I accept” button at the end of the agreement you confirm to Sync-Audio that you have read the terms and conditions of the agreement its associated schedules applicable to the service you are purchasing from the site. This will also apply to users submitting tracks into the Sync-Audio library.
		p(class="text-gray-700", style="padding-top: 10px;") The licensee shall not be liable for any direct, indirect, incidental, special, exemplary, or consequential damages or loss of data, during the submission or download process as licensor submitting tracks into the audio library you are fully responsible to hold originals, masters, and copies of the “tracks” submitted.
		p(class="text-gray-700", style="padding-top: 10px;") On entering the agreement the licensee is free from any third party claims to ownership rights, proceeds or profits pertaining to tracks submitted on the basis that the licensor upon submission of tracks satisfied the submission criteria that the tracks submitted were free from such claims.
