extends layout.pug

block content
	h1 Track uploaded
	if !isAdminUser && trackId
		p
			a(href="/account/stems/"+trackId) Add or manage stems for this track
	if !isAdminUser
		a.button(href="/account") OK
	else
		a.button(href="/admin/tracks") OK